<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="modal fade" id="modal-kontro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" th:classappend="${isLarge} ? modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" th:text="${tituloModal}">${tituloModal}</h5>
	        <button type="button" class="close modal-kontro-btn-close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div id="body-modal-kontro" class="modal-body"></div>  	
	    </div>
	  </div>
	</div>
</body>
</html>