<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title th:text="#{titleHead}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
	<link th:href="@{/css/fixedColumns.bootstrap4.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/bootstrap-editable.css}" rel="stylesheet"/>
	<link th:href="@{/css/bootstrap-icons.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/fileinput.min.css}" media="all" rel="stylesheet"/>
	<link th:href="@{/css/kontro.css}" rel="stylesheet" />
	<link th:href="@{/css/all.css}" rel="stylesheet">
	<link th:href="@{/css/home.css}" rel="stylesheet" />
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/buttons.print.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-editable.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/buffer.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/filetype.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/piexif.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sortable.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/pt-BR.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.loading.js}"></script>
	<script type="text/javascript" th:src="@{/js/ajaxController.js}"></script>
</head>

<body id="bodykontro">

	<script th:inline="javascript">
	  	var server = [[${server}]];
		var app = [[${app}]];
		var appName = [[${getAppName}]];
		var URL_OPEN_MODAL = [[${@paths.OPENMODAL}]];
  	</script>
  	
	<div th:replace="fragments/header :: header"></div>
	<div id="hidden-modal"></div>
	<div id="hidden-toast"></div>
	<div th:replace="${view_service} :: content"></div>
	<div th:replace="fragments/footer :: footer"></div>
  	<script type="text/javascript" th:src="@{/js/kontro.js}"></script>
</body>
</html>